@model WebApp.ViewModels.KorisnikVM

@{
    ViewData["Title"] = "Ažuriranje Profila";
}

<div class="container mt-4">
    <h2 class="text-center">Ažuriraj Korisnika</h2>

    @if (ViewData.ModelState.IsValid && ViewData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewData["SuccessMessage"]
        </div>
    }
    else if (!ViewData.ModelState.IsValid && ViewData.ModelState.ContainsKey("Lozinka"))
    {
        <div class="alert alert-danger" role="alert">
            @ViewData.ModelState["Lozinka"].Errors.FirstOrDefault()?.ErrorMessage
        </div>
    }

    <form asp-action="Edit" asp-controller="Korisnik" method="post">
        <input type="hidden" asp-for="Idkorisnik" />

        <div class="form-group">
            <label asp-for="Ime">Ime:</label>
            <input asp-for="Ime" class="form-control" required />
            <span asp-validation-for="Ime" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Prezime">Prezime:</label>
            <input asp-for="Prezime" class="form-control" required />
            <span asp-validation-for="Prezime" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email">E-mail:</label>
            <input asp-for="Email" class="form-control"/>
        </div>

        <div class="form-group">
            <label>Nova Lozinka (ostavite prazno ako ne mijenjate):</label>
            <input type="password" asp-for="Lozinka" class="form-control" />
            <span asp-validation-for="Lozinka" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Ponovi Lozinku:</label>
            <input type="password" id="repeatPassword" name="repeatPassword" class="form-control" />
        </div>

        <div class="d-flex justify-content-between mt-4">
            <a asp-action="Index" asp-controller="Korisnik" class="btn btn-secondary">Odustani</a>
            <button type="submit" class="btn btn-primary">Spremi Promjene</button>
        </div>
    </form>
</div>
