@{
    ViewData["Title"] = "Pizzeria & Grill";
}

<div class="text-center mt-5">
    <h1 class="display-4">Dobrodošli u Pizzeriu & Grill!</h1>
    <p class="lead mt-3">Uživajte u najboljim pizzama i roštilju u gradu.</p>
</div>

<div class="container mt-5">
    <div class="row text-center">
        <div class="col-md-6 mb-4">
            <img src="https://media.istockphoto.com/id/1079003768/photo/pizza-margherita.jpg?s=2048x2048&w=is&k=20&c=F6ExUPVM2Y9U9R-XfmaqZAInluDta6N_9sXCNvEEWbg=" alt="Pizza" class="img-fluid rounded">
            <h3 class="mt-3">Pizza</h3>
            <p>Razne vrste pizza, od klasične Margherite do specijalnih kombinacija.</p>
        </div>
        <div class="col-md-6 mb-4">
            <img src="https://media.istockphoto.com/id/673139382/photo/grilled-meat-and-vegetables.jpg?s=2048x2048&w=is&k=20&c=4M8ovg4w2hFdeuGR6_XQUimRi8hXNGQmIA3C9ZpK4PE=" alt="Grill" class="img-fluid rounded">
            <h3 class="mt-3">Grill</h3>
            <p>Sočni ćevapi, pljeskavice i još mnogo toga s roštilja.</p>
        </div>
    </div>

    <div class="text-center mt-4">
        <a asp-controller="Korisnik" asp-action="Login" class="btn btn-primary btn-lg">Login</a>
    </div>
</div>
