@model WebApp.ViewModels.HranaVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Dodaj Hranu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naslov" class="control-label"></label>
                <input asp-for="Naslov" class="form-control" />
                <span asp-validation-for="Naslov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cijena" class="control-label"></label>
                <input asp-for="Cijena" class="form-control" />
                <span asp-validation-for="Cijena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="KategorijaHraneId" class="control-label">Kategorija Hrane</label>
                <select asp-for="KategorijaHrane.IdkategorijaHrane" class="form-control" asp-items="@(new SelectList(ViewBag.Categories, "IdkategorijaHrane", "Naziv"))">
                    <option value="">-- Odaberi kategoriju --</option>
                </select>
                <span asp-validation-for="KategorijaHrane.IdkategorijaHrane" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad na izbornik hrane</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
